# Ignore Primus local testing logs, temporary files, and flags
*.log
/Logs/
/Temp/
.eula_accepted

# Ignore Primus local testing backups (Prevents leaking system data)
/Backups/
*.hiv
*.bad

# Ignore generated binaries and release archives
*.exe
*.zip
*.7z
*.rar

# Ignore Windows system junk files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
desktop.ini
$RECYCLE.BIN/

# Ignore IDE / Editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
